<div id="container">
    <header>
        <div id="header-left">
            <h2>NOVA ADMISSÃO COOPERADO</h2>
            <p>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
        </div>
        <div id="header-right">
            <img id="img-sino" src="" alt="">
            <a id="viacredi" href="">VIACREDI</a>
            <img id="img-perfil" src="" alt="">
        </div>
    </header>


    <div id="nav">
        <img id="logo" src="" alt="">
        <img id="barras" src="" alt="">
        <img id="lupa" src="" alt="">
        <img id="estrela" src="" alt="">
        <img id="balao" src="" alt="">
        <img id="estatisticas" src="" alt="">
        <img id="banco" src="" alt="">
    </div>

    <div id="etapas">
        <div id="inicio">
            <div id="circulo-1" class="circulo"></div>
            <h5>Início</h5>
        </div>
        <div id="documentos">
            <div id="circulo-2" class="circulo"></div>
            <h5>Documentos</h5>
        </div>
        <div id="dados">
            <div id="circulo-3" class="circulo"></div>
            <h5>Dados cadastrais</h5>
        </div>
        <div id="admissao">
            <div id="circulo-4" class="circulo"></div>
            <h5>Admissão</h5>
        </div>
    </div>
</div>